# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native builds
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# Local env
.env
.env.local
.env.*.local

# macOS
.DS_Store
*.pem

# TypeScript
*.tsbuildinfo

# Testing
coverage/

# EAS
eas-credentials.json
